.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 80%;
    padding: 1rem;
    border: 1px solid #971C11;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #971C11;
    padding-bottom: 10px;
}

.card-header h2 {
    margin: 0;
}